/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";

html,
body {
  height: 100%;
  font-family: system-ui, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}
